<header class="z-index-10 fixed-top d-flex justify-content-center align-items-center gap-3">
    <img src="{{ asset('images/Friends_logo.svg') }}" height="32" alt="Friends SVG Logo">
    <span class="friends-font text-light text-center fs-3">Episode picker</span>
</header>
